.container {
	width: 50rem;
	margin-bottom: 1rem;
}

.block {
	border: 1px solid black;
	padding: 0.5em;
	background-color: skyblue;
	margin-bottom: 1rem;
}

.list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	padding: 0;
	background-color: whitesmoke;
}

.data {
	border-bottom: 1px solid black;
	padding: 0.5em;
}

.hash,
.prevHash {
	flex: 1 1 100%;
}

.timestamp,
.nonce {
	flex: 1 1 50%;
}

.difficulty,
.height {
	flex: 1 1 50%;
	border-bottom: 0;
}

.nonce, 
.height {
	border-left: 1px solid black;
}

.payload {
	flex: 1 1 100%;
}

.inf {
	font-weight: bold;
}